*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    background: #3390cf;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing:0.15rem;
    font-size: 35px;
    position: relative;
}

.cross{
    width: 70px;
    height: 70px;
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 2%;
}

.none{
    display: none;
}

.cross span{
    width: 100%;
    height: 4px;
    background-color: transparent;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.cross span::before, .cross span::after{
    content: " ";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 4px;
    transition: transform 0.5s ease-in-out;
}

.cross.active-span span::before{
    transform:  rotateZ(765deg);
}

.cross.active-span span::after{
    transform:  rotateZ(-765deg);
}

.cross span::before{
    transform:  rotateZ(45deg);
}

.cross span::after{
    transform:  rotateZ(-45deg);
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories{
    padding: 20px;

}

.categories div{
    border: solid #6dd5fa 2px;
    margin: 20px;
    padding: 15px 70px;
    background-color: rgb(110, 164, 241);
    border-radius: 4px;
    text-align: center;
}

.categories div:hover{
    background-color: #f2f2f2;
}

ul li{
    text-decoration: none;
    list-style: none;
}

.active{
    display: none;
}

.remove{
    display: none;
}

