*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    background: #3390cf;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing:0.15rem;
    font-size: 35px;
}

.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories{
    padding: 20px;
}

.categories div{
    border: solid #6dd5fa 2px;
    margin: 20px;
    padding: 15px 70px;
    background-color: rgb(110, 164, 241);
    border-radius: 4px;
}

.categories div:hover{
    background-color: #f2f2f2;
}

ul li{
    text-decoration: none;
    list-style: none;
}

.active{
    display: none;
}

.remove{
    display: none;
}

